*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --bg-color:#000;
    --color:#fff;
} 

body{
    background-color: var(--bg-color);
    background-image: url(imagenes/font.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}


.container-logo{
    overflow: hidden;
    animation: apper-logo 1s linear both;
    animation-delay: .5s;
}

.logo{
    width: clamp(100px, 19dvw, 200px);
}


.main{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

.title{
    text-align: center;
    font-size: clamp(2rem, 4dvw, 3rem); 
    margin-bottom: 2rem; 
}

.info{
    letter-spacing: 1px;
    font-size: 1.2rem;
    background-color: #000a;
    padding: 1rem;
    border-radius: 12px;
}

.lenguage-option{
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.lenguage{
    width: 100%;
    color: #fff;
    font-size: clamp(1.5rem, 3dvw, 2rem);
    text-decoration: none;
    background-image: linear-gradient(90deg,
    rgb(53, 1, 75),
    rgb(2, 6, 56)
    );
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-idiomas{
    width: clamp(3rem, 12dvw, 6rem);
    height: clamp(3rem, 12dvw, 6rem);
    border-radius: 50%;
}



footer{
    color: #fff;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
footer p{
    font-size: clamp(1.5rem, 3dvw, 2rem);
}

.container_social-networks{
    display: flex;
    gap: 2rem;
    max-width: 300px;
}
.social-networks{
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1.2rem, 2dvw, 1.6rem);
    margin: auto;
}


@keyframes apper-logo{
    0%{
        width: 0px;
    }
    100%{
        width: 200px;
    }
}