*{
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-x: hidden;
}

/*----section header*/
.header{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


.container-logo{
    overflow: hidden;
    animation: apper-logo 1s linear both;
    animation-delay: .5s;
}


.logo{
    width: clamp(100px, 19dvw, 200px);
}

.title-logo{
    font-size: clamp(1.5rem, 3dvw, 3rem);
}

/*===end section header*/
section{
    width: 100%;
}
.main{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem;
}


/*----section home*/
.container_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;;
}.desaparecer_home{
    animation: desaparecer-home 1s linear both;
}


#icon{
    font-size: clamp(5rem, 16dvw, 12rem);
}

.title, .info{
    text-align: center;
}

h1, h2{
    font-size: clamp(1.3rem, 4dvw, 3rem);
    text-align: center;
}

.container_btn{
    padding: 3px;
    border-radius: 12px;
    background-size: 200%;
    animation: crecer 3s linear both infinite;
    cursor: pointer;
    margin-top: 1rem;
    font-family: sans-serif;
}

.btn{
    display: flex;
    align-items: center;
    gap: 11px;
    background-color: #000;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 12px;
}
.btn-info{
    font-size: clamp(1rem, 3dvw, 2.6rem);
}

.icon{
    position: absolute;
    right: 0;
    font-size: clamp(1.6rem, 3dvw, 3rem) !important;
}.icon-animation{
    animation: desaarecer 1s linear both ;
}


.container_option{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.img-course{
    height: 200px;
    overflow: hidden;
}

.img-course img{
    width: 100%;
    object-fit: cover;
}

.course{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #000a;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 2px #aaa;
    padding: 1rem;
    position: relative;
}
.course h4{
    font-size: clamp(1.2rem, 4dvw, 1.7rem);
    text-align: center;
}
.aprendisaje-bloqueado{
    position: absolute;
    left: 0;
    top: 25%;
    color: #f00;
    font-size: 4rem;
}
.nivel-aprendisaje-bloqueado{
    position: absolute;
    inset: 0;
    background-color: #000a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info_bloqueo{
    font-size: 1.5rem;
}

.--course{
    font-size: clamp(1.5rem, 4dvw, 4.7rem) !important;
}
.curso{
    font-size: clamp(1rem, 3dvw, 1.7rem);
}

.garantia{
    color: rgb(1, 254, 39);
}
/*====end section home*/


/*----section diagnosis*/
.diagnosis{
    display: none;
    justify-content: center;
}

.nevel-english{
    padding: 1rem;
    border-radius: 12px;
    background-color: #2226;
}

.question{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h3{
    font-size: clamp(1.2rem, 2dvw, 1.7rem);
}

.btn_option{
    font-size: clamp(1rem, 3dvw, 2rem);
    padding: 5px;
    border-radius: 5px;
    border: none;  
    background: linear-gradient(to right, #c2cdff, #ae9eff);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    background-color: transparent;
    box-shadow: 0px 0px 3px #888;
}.btn_option-select{
    filter: brightness(2);
}

.container_message-incomplete{
    position: absolute;
    top: 25%;
    left: 35%;
    opacity: 0;
    z-index: -1;
}.apper_msg-incomplete{
    animation: apper-msg-incomplete 1.6s linear both;
}
.message-incomplete{
    background-color: #a23803;
    padding: 1rem;
    font-weight: 600;
    font-size: clamp(1rem, 2dvw, 2rem);
}

.container_btn-diagnosis{
    display: flex;
    justify-content: space-between;
}

.return-home,
#volver,
#next,
#retur-home,
#return,
#not_contiuen-question2,
#continue_question2{
    background-color: transparent;
    color: #fff;
    font-size: clamp(1.5rem, 3dvw, 2rem);
    padding: 1rem;
    outline: none;
    box-shadow: 0px 0px 5px;
    border: none;
    border-radius: 15px;
    margin-top: 2rem;
}

.return-home,
#volver,
#retur-home,
#return{
    box-shadow: 0px 0px 5px #f88;
}
/*==== end section diagnosis*/
    
/*----section-curse*/
.section-course{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
    position: relative;
}.apper-section-course{
    display: grid;
}
.container_option-course{
    position: absolute;
    transform: translate(0, -3rem);
    text-align: center;
    font-size: clamp(2rem, 3dvw, 3.5rem);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    top: clamp(-1rem, 2dvw, -4rem);
    padding: 1rem;
}

.course{
    text-decoration: none;
}

.title_course{
    margin: 0;
}

#btn-diagnosis{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: clamp(1.4rem, 2dvw, 2rem);
    background-color: #005e03;
    border-radius: 5px;
}
#btn-diagnosis:hover{
    cursor: pointer;
}

.certificado{
    color: #ebd805;
}

.container_btn-shopping{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}


.btn-shopping{
    color: #fff;
    text-decoration: none;
}

.oferta{
    animation: oferta 2s linear both infinite;
    background-color: #01fe27;
    color: #000;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 700;
    border-radius: 12px;
}
/*==== end section curse*/

/*----loading animation*/
.container_course-select{
    display: none;
    align-items: center;
    justify-content: center;
}

.loading_animation-course{
    height: 60dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_course-select{
    position: absolute;
    top: 15%;
}

.num-1, .num-2, .num-3{
    font-size: clamp(5rem, 12dvw, 9rem);
    position: absolute;
    opacity: 0;

}
.apper-num{
    animation: apper-num 1s linear both;
}

.container_courser-recomendet{
    display: none;
    flex-direction: column;
    gap: 2rem;
}

.courser_recomendet{
    display: none;
}

#return{
    max-width: 200px;
}

/*---- section question*/
.section_learn{
    position: relative;
    display: none;
    padding: 1rem;
}

.question_1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.word-spanish, .word-english{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 5px 12px;
    background: #cce3ff;
    color: #111;
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 3dvw, 2rem);
    border-radius: 12px;
    transition: background .3s;
}

.word-spanish span, .word-english span{
    color: #12a;
}

.container_continue-question2{
    width: 100%;
    height: 110%;
    background-color: #000a;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.continue_question2{
    width: clamp(20rem, 51dvw, 32rem);
    background-color: #037813;
    padding: 1rem;
    border-radius: 12px;
    top: 0;
    left: 0;
    filter: blur(0) !important;
}

.title-continue-question{
    font-size: clamp(1.3rem, 2dvw, 1.7rem);
    font-family: sans-serif;
    background-image: linear-gradient(90deg,#fbf36b 10%, #ffd9f6 100%);
    width: fit-content;
    -webkit-background-clip: text;
    color: transparent;
}
.btn_continue-question2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}




/*-------- clases globales*/
.desapper{
    display: none;
}

.apper{
    display: flex;
}

.apper-section{
    display: block;
}

.select-word{
    background: #249;
    color: #fff;
}
.selected-pairs{
    animation: pairs .3s linear both;
}

.opacity-word{
    opacity: .5;
}
.opacity-question{
    filter: blur(5px);
}

/*----btn bloqueado */
#continue_question2{
    position: relative;
    height: auto;
    padding: 2rem;
}

.bloqueado{
    position: absolute;
    inset: 0;
    background-color: #0008;
    font-family: sans-serif;
    font-size: 1rem;
    font-width: 700;
}
.icon-bloqueo{
    position: absolute;
    top: 15%;
    left: 20%;
    z-index: -1;
    font-size: 5rem;
    color: #f00a;
}


@keyframes apper-logo{
    0%{
        width: 0px;
    }
    100%{
        width: 200px;
    }
}

@keyframes crecer {
    0%{
        transform: scale(1);
        background-position: 0%;
    }
    60%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
        background-position: 200%;
    }
}

@keyframes desaparecer-home {
    0%{
        transform: translate(0);
        scale: 1;
    }
    25%{
        transform: translate(0);
        scale: 1.1;
    }
    90%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(-100%);
        display: none;
    }
}

@keyframes desaarecer {
    0%{
        scale: 1;
        right: 0;
    }
    40%{
        scale: 3;
        right: 0;
        opacity: 1;
    }

    50%{
        scale: 3;
        right: 1rem;
    }
    100%{
        scale: 3;
        right: -200%;
        opacity: 0;
    }
}

@keyframes apper-msg-incomplete {
    0%{
        opacity: 0;
        z-index: -1;
    }
    26%{
        opacity: 1;
        z-index: 10;
    }
    75%{
        opacity: 1;
        z-index: 10;
    }
    100%{
        opacity: 1;
        z-index: -1;
    }
}
@keyframes apper-num{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes pairs{
    0%{
        background-color: #cce3ff;
    }
    100%{
        background-color: rgb(0, 151, 23);
    }
}

@keyframes oferta{
    0%{
        transform:rotate(7deg);
    }
    50%{
        transform: rotate(-7deg);
    }
    100%{
        transform:rotate(13deg);
    }
}